.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: large;
}

nz-content {
  margin: 0 16px;
  min-height: 100vh;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-menu-item {
  display: flex;
  align-items: center;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-sider {
  background: #fff;
}

nz-footer {
  text-align: center;
}

.bottom-menu {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 10px;
  background: #FFF !important;
  width: 80px;
  transition: width 3s;
}

.bottom-menu.expanded {
  width: auto;
  transition: width 3s;
}

nz-sider {
  min-height: 100vh;
  position: sticky;
}
