<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul nz-menu nzTheme="light" nzMode="inline" >
      <li nz-menu-item [nzSelected]="this.isSelected('/')" routerLink="/" routerLinkActive="active">
        <div style="display: flex; align-items: center">
          <span nz-icon nzType="home" nzTheme="outline"></span>
          <span>Home</span>
        </div>
      </li>
      <li nz-menu-item [nzSelected]="this.isSelected('/dashboard')" routerLink="/dashboard" routerLinkActive="active">
        <div style="display: flex; align-items: center">
          <span nz-icon nzType="area-chart" nzTheme="outline"></span>
          <span>Dashboard</span>
        </div>
      </li>
      <li nz-menu-item [nzSelected]="this.isSelected('/login-app')" routerLink="/login-app" routerLinkActive="active">
        <div style="display: flex; align-items: center">
          <span nz-icon nzType="login" nzTheme="outline"></span>
          <span>Login</span>
        </div>
      </li>
      <li [class]="isCollapsed ? '' : 'expanded'" class="bottom-menu">
        <div style="display: flex; align-items: center">
          <span
            nz-icon
            style="min-width: 14px; font-size: 14px"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
          <span></span>
        </div>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>

