<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <span [hidden]="isCollapsed" >
         MY APP
      </span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" >
      <li nz-menu-item [nzSelected]="this.isSelected('/')" routerLink="/" routerLinkActive="active">
        <div style="display: flex; align-items: center">
          <span nz-icon nzType="home" nzTheme="outline"></span>
          <span>Home</span>
        </div>
      </li>
      <li nz-menu-item [nzSelected]="this.isSelected('/dashboard')" routerLink="/dashboard" routerLinkActive="active">
        <div style="display: flex; align-items: center">
          <span nz-icon nzType="area-chart" nzTheme="outline"></span>
          <span>Dashboard</span>
        </div>
      </li>
      <li nz-menu-item [nzSelected]="this.isSelected('/login-app')" routerLink="/login-app" routerLinkActive="active">
        <div style="display: flex; align-items: center">
          <span nz-icon nzType="login" nzTheme="outline"></span>
          <span>Login</span>
        </div>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
</nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

